<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repoSingleton" class="com.orkhangasanov.CustomerRepository" scope="singleton"/>
    <bean id="repoPrototype" class="com.orkhangasanov.CustomerRepository" scope="prototype"/>

</beans>
