<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repo" class="com.orkhangasanov.CustomerRepository" />
    <bean id="service" class="com.orkhangasanov.CustomerService">
        <property name="repo" ref="repo" />
    </bean>
</beans>
